<% if user_signed_in? %>
  <h1><%= current_user.username %>さん</h1>
  <%= button_to "つぶやく" %>
  <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
<% else %>
  <h1>ゲストさん</h1>
  <p>
    <%= link_to 'アカウント登録', new_user_registration_path, class: 'btn btn-primary' %>
    <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-primary' %>
  </p>
<% end %>
